/*
 * Buttons
 */

button {
  min-width: 150px;
  padding: 8px 24px;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--blue-500);
  border-color: var(--blue-500);
  border-radius: 8px;
  border-style: solid;
  border-width: 0px;

  cursor: pointer;
}

button:hover,
button.hovered {
  background-color: var(--blue-600);
}

button:active,
button.activated {
  background-color: var(--blue-700);
}

button:disabled {
  color: var(--blue-400);
  background-color: var(--blue-100);

  cursor: not-allowed;
}

button.outlined {
  color: var(--blue-600);
  background-color: var(--white);
  border-color: var(--blue-600);
  border-width: 1px;
}

button.outlined:hover,
button.outlined.hovered {
  color: var(--blue-700);
  border-color: var(--blue-700);
}

button.outlined:active,
button.outlined.activated {
  color: var(--blue-800);
  border-color: var(--blue-800);
}

button.outlined:disabled {
  color: var(--blue-200);
  border-color: var(--blue-200);

  cursor: not-allowed;
}

button.icon-only {
  min-width: auto;
  width: 36px;
  height: 36px;
  padding: 0;
}

button.icon-only span {
  font-size: 24px;
  vertical-align: middle;
}

/*
 * Form
 */

input[type='text'] {
  min-width: 200px;
  padding: 4px;

  background-color: var(--white);
  border: 1px solid var(--gray-500);
  border-radius: 4px;
}

input[type='text']::placeholder {
  color: var(--gray-400);
}

input[type='text']:disabled {
  color: var(--gray-500);
  background-color: var(--gray-100);

  cursor: not-allowed;
}

input[type='text']:focus,
input[type='text'].focused {
  border-color: rgb(0, 0, 0, 0);
  outline-color: var(--blue-500);
  outline-style: solid;
  outline-width: 2px;
}

input[type='text']:invalid {
  border-color: rgb(0, 0, 0, 0);
  background-color: var(--red-100);
  outline-color: var(--red-500);
  outline-style: solid;
  outline-width: 2px;
}

label {
  display: block;
  margin-bottom: 4px;
  padding-left: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  color: var(--gray-600);
}

.select-wrapper {
  display: grid;
  position: relative;
  min-width: 200px;
  grid-template-areas: 'select';
  align-items: center;

  border: 1px solid var(--gray-500);
  border-radius: 4px;

  cursor: pointer;
}

.select-wrapper::after {
  height: 100%;
  justify-self: end;

  font-family: 'Material Icons';
  font-size: 28px;
  line-height: 28px;

  color: var(--white);
  background-color: var(--gray-500);

  content: '\e5c5'; /* Arrow Drop Down */
  pointer-events: none;
}

select {
  width: 100%;
  padding: 4px;

  background-color: transparent;
  border: none;
  outline: none;

  appearance: none;
  cursor: inherit;
}

select,
.select-wrapper::after {
  grid-area: select;
}

select:focus + .focus,
select.focused + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--blue-500);
  border-radius: inherit;
}

.select-disabled {
  color: var(--gray-500);
  background-color: var(--gray-100);

  cursor: not-allowed;
}

.select-disabled::after {
  background-color: var(--gray-500);
}

/*
 * Other
 */

progress {
  min-width: 200px;
  height: 16px;

  background-color: var(--blue-100);
  border: 0;
  border-radius: 8px;
}

progress::-webkit-progress-bar {
  background-color: var(--blue-100);
  border: 0;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background-color: var(--blue-500);
  border: 0;
  border-radius: 8px;
}

progress::-moz-progress-bar {
  background-color: var(--blue-500);
}
