/*
 * Colors
 */

:root {
  --white: #fdfdfd; /* RAL 9020 Seidenmatt-weiß */
  --black: #0e0e10; /* RAL 9005 Tiefschwarz */

  --blue-50: #eff8ff;
  --blue-100: #def1ff;
  --blue-200: #b6e4ff;
  --blue-300: #76d0ff;
  --blue-400: #2db9ff;
  --blue-500: #02a1f5;
  --blue-600: #007fd2;
  --blue-700: #0066aa;
  --blue-800: #005387; /* RAL 5005 Signalblau */
  --blue-900: #074773;
  --blue-950: #042d4d;

  --red-50: #fdf3f3;
  --red-100: #fde3e3;
  --red-200: #fbcdcd;
  --red-300: #f8aaa9;
  --red-400: #f17978;
  --red-500: #e74d4c;
  --red-600: #d3302f;
  --red-700: #b12524;
  --red-800: #9b2423; /* RAL 3001 Signalrot */
  --red-900: #7a2322;
  --red-950: #420d0d;

  --green-50: #effaf3;
  --green-100: #d9f2e1;
  --green-200: #b6e4c7;
  --green-300: #86cfa5;
  --green-400: #53b480;
  --green-500: #319864;
  --green-600: #237f52; /* RAL 6032 Signalgrün */
  --green-700: #1b6140;
  --green-800: #174e34;
  --green-900: #14402c;
  --green-950: #0a2419;

  --yellow-50: #fffdea;
  --yellow-100: #fff7c5;
  --yellow-200: #ffef85;
  --yellow-300: #ffe046;
  --yellow-400: #ffce1b;
  --yellow-500: #f9a800; /* RAL 1003 Signalgelb */
  --yellow-600: #e28300;
  --yellow-700: #bb5b02;
  --yellow-800: #984608;
  --yellow-900: #7c390b;
  --yellow-950: #481c00;

  --gray-50: #f7f7f7;
  --gray-100: #ededed;
  --gray-200: #dfdfdf;
  --gray-300: #c8c8c8;
  --gray-400: #adadad;
  --gray-500: #9b9b9b; /* RAL 7004 Signalgrau */
  --gray-600: #888888;
  --gray-700: #7b7b7b;
  --gray-800: #676767;
  --gray-900: #545454;
  --gray-950: #363636;
}

/*
 * Typography
 */

body {
  font-family: OpenSans, Roboto, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: var(--black);
}

h1 {
  margin: 0.8em 0 0.4em 0;

  font-size: 46px;
  font-weight: 300;
  line-height: 56px;
}

h2 {
  margin: 0.8em 0 0.4em 0;

  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

h3 {
  margin: 0.8em 0 0.4em 0;

  font-size: 24px;
  font-weight: 350;
  line-height: 28px;
}

h4 {
  margin: 0.8em 0 0.4em 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

p {
  margin: 0.4em 0;
}

.base {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
