m-time-summary {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

m-time-summary > div {
  width: 120px;

  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
