:root {
  --main-color: #292c2f; /* RAL 9011, Graphitschwarz */
  --main-background-color: #fdfdfd; /* RAL 9020, Seidenmatt–Weiß */
  --light-color: #d7d5cb; /* RAL 9002, Grauweiß */
  --dark-color: #7e8182; /* RAL 9023, Perldunkelgrau */
}

body {
  overflow-y: hidden;

  background: var(--main-background-color);
  color: var(--main-color);
}

button,
input {
  color: var(--main-color);
}

button {
  padding: 4px;

  font-weight: 600;

  border: solid 1px var(--light-color);
  border-radius: 0.5em;
}

button:hover {
  filter: brightness(0.9);
}

button:active {
  filter: brightness(1);
}

input {
  padding: 4px;

  border: solid 1px var(--light-color);
  border-radius: 0.5em;
}

.caption {
  color: var(--dark-color);
}

m-activity-sampling {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 8px;
}

m-activity-form label {
  display: block;
  margin-bottom: 2px;
  padding-left: 0.5em;
}

m-activity-form input {
  display: block;
  margin-bottom: 6px;
  width: calc(100% - 10px);
}

m-activity-form button {
  width: 100%;
}

m-task-progress {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

m-task-progress progress {
  width: 100%;
}

m-recent-activities {
  display: flex;
  flex: 1 1 1px;
  flex-direction: column;
}

m-working-days {
  display: block;
  flex: 1 1 1px;
  overflow-y: auto;
}

m-working-days h4 {
  margin: 0;
  padding: 0.4em 0;
  position: sticky;
  top: 0;

  background: var(--main-background-color);
}

m-working-days li {
  display: flex;
  padding: 8px;

  border-bottom: 1px solid var(--light-color);

  list-style-type: none;
}

m-working-days li :first-child {
  min-width: 48px;
}

m-time-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

m-time-summary > div {
  padding: 4px;
  width: 120px;

  font-size: 18px;
  text-align: center;
}

m-time-summary .caption {
  padding-bottom: 4px;
}
