m-recent-activities ul {
  margin: 0;
  padding: 0;
}

m-recent-activities li {
  padding: 8px;
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #ddd;
}

m-recent-activities li :first-child {
  min-width: 48px;
}

m-recent-activities li:nth-child(odd) {
  background-color: #f5f5f5;
}

m-recent-activities li:last-child {
  border: none;
}

m-time-summary {
  display: flex;
  padding: 8px 0;
  flex-wrap: wrap;
  justify-content: center
}

m-time-summary div {
  display: flex;
  width: 120px;
  padding: 4px;
  flex-direction: column;
  text-align: center;
}

m-time-summary span {
  font-size: 18px
}

m-time-summary span.caption {
  padding-bottom: 4px;
}
