m-main-menu {
  display: block;
  background-color: var(--gray-100);
}

m-main-menu [role='menubar'] {
  display: inline-block;
}

m-main-menu [role='menubar'] > li {
  display: inline-block;
  position: relative;
}

m-main-menu [role='menubar'] > li a {
  display: block;
  padding: 8px 16px;
  text-wrap: nowrap;
}

m-main-menu [role='menu'] {
  display: none;
  position: absolute;
  background-color: var(--gray-100);
}
